.content {
  padding-top: 64px;
  margin-left: 25%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background: #ffffff;
  padding-top: 48px;
  z-index: 1;

  .content-wrapper {
    padding-top: 3rem;
	max-width: 930px;
    //padding-left: 1.875rem;
    //padding-right: 1.875rem;
    //padding-bottom: 1.875rem;
    margin: 0 1em 4em 50px;
    overflow: auto;
  }

  .pagination {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 1.5rem;

    .next {
        float: right;
        text-align: right;
    }

    .subtitle-pagination {
        font-weight: 700;
        letter-spacing: .35em;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 16px;
        color: #cccccc;
        display: block;
        line-height: 1;
    }

    .link {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      position: relative;
      color: #e04e4b;
    }
  }
}
