body {
  background: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 24px;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  color: #555;
  font: 400 14px Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #000;
  text-decoration: none;
  letter-spacing: -0.04em;
}

a, .link {
  // font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
a {
  background-color: transparent;
}

a:visited, .link:visited {
  color: #333333;
}

img {
  border: 0;
}


.nav.dark {
  color: #444444;
}

.nav {
  height: 64px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.96) 0%, rgba(255, 255, 255, 0.99) 100%);
  box-shadow: #f3f3f3 0 -1px 0 0 inset;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  width: auto;
  opacity: 1;
  z-index: 3;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  transform: translate3d(0, 0, 0);
  text-align: center;

  .nav-group {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: auto;
    height: auto;
    z-index: 1;
  }

  .nav-group.right {
      left: auto;
      right: 0;
  }

  .nav-item {
    line-height: 4rem;
    height: 4rem;
    cursor: pointer;
    display: inline-block;
    height: 3rem;
    vertical-align: top;

    .link {
      font-size: 14px;
      line-height: 20px;
      line-height: 1;
      font-weight: 600;
      &:link {
        color: #444444;
      }
    }
  }

  .nav-item.active {
    border-bottom: 2px solid #e04e4b;
  }

  .nav-item + .nav-item {
    margin-left: 1.875rem;
  }

  .logo {
    height: 40px;
    margin-top: -2px;
    width: auto;
    display: block;

    img {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    span {
      font-weight: 400;
      display: inline-block;
      vertical-align: middle;
      margin-left: 4px;
      line-height: 1;
    }
  }
}

.nav .nav-item.active .link {
  color: #e04e4b;
}

#page-inner-content {
  position: relative;
  margin: 0;

  @import "sidebar.scss";
  @import "doc-content.scss";
  @import "document-formatting.scss";
}

#page-edit-link {
  transition: width .2s linear .3s;
  position: absolute;
  z-index: 10;
  right: 36px;
  top: 70px;
  width: 26px;
  height: 17px;
  margin: 0;
  padding: 9px 10px 10px 0;
  text-decoration: none;
  text-align: center;
  border-radius: 0;
  background-color: #fff;
  color: #787878;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #e8ebef;
  border-radius: 20px;

  span {
	padding: 0 8px 0 10px;
  }
}


