.install-system-choice {
	position: absolute;
	margin-top: 30px;
	left: 160px;
	display: inline-block;

	.mac-logo, .linux-logo, .windows-logo {
		background-repeat: no-repeat;
		width: 28px;
		height: 28px;
		display: inline-block;
	}

	.mac-logo {
		background-image: url('/assets/images/mac.png');
		&[active] {
			background-image: url('/assets/images/mac-active.png');
		}
	}
	
	.linux-logo {
		background-image: url('/assets/images/linux.png');
		margin-left: 10px;
		&[active] {
			background-image: url('/assets/images/linux-active.png');
		}
	}

	.windows-logo {
		background-image: url('/assets/images/windows.png');
		margin-left: 10px;
		&[active] {
			background-image: url('/assets/images/windows-active.png');
		}
	}
}

 .content-wrapper {
    // padding-top: 1rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-bottom: 1.875rem;
    margin: 0 11.1111%;
    overflow: auto;
}
