[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  &:before &:after {
    content: " ";
    display: table;
    box-sizing: border-box;
  }
  &:after {
    clear: both;
  }
}

.title-header-page {
  text-align: center;
  margin: 90px 0 0px;
  letter-spacing: 1px;
  background: none;
  text-transform: none;
  padding-bottom: 20px;

  h3 {
    max-width: 90%;
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'ProximaNova-Bold';
    color: #1f2128;
    display: inline-block;
    padding: 0px 35px;
    border: 1px solid #000;
    min-height: 70px;
    line-height: 70px;
    letter-spacing: 2px;
  }

  span {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    font-family: 'ProximaNovaT-Thin';
    font-size: 17px;
    line-height: 20px;
  }  
}

.lines-page-full {
  display: block;
  margin: 40px auto 60px;
  border-top: 1px solid #d5d8df;
}

#page-content-wrapper .container .lines-page-full {
  width: 100%;
}

.page .lines-page-full {
  margin-bottom: 30px;
}

.items-developer-page {
  display: inline-block;
  width: 33.33%;
  float: left;

  .left-items {
    display: block;
    width: 120px;
    height: 100px;
    float: left;
    text-align: center;

    img {
      width: 50%;
      vertical-align: middle;
    }
  }

  .content-items {
    display: inline-block;
    width: calc(100% - 120px);

    h3.title-items {
      font-size: 16px;
      margin-bottom: 15px;
      text-transform: uppercase;
      font-family: 'ProximaNova-Bold';
      color: #1f2128;
    }

    span {
      font-size: 13px;
      font-family: 'ProximaNova-Light';
      margin-bottom: 15px;
      display: inline-block;
      min-height: 60px;
      padding-right: 20px;
      width: 100%;
    }

    .btn-custom {
      width: 180px;
      height: 40px;
      display: block;
      letter-spacing: 1px;
      margin-bottom: 20px;
      background: #de4f4f;
      text-align: center;
      line-height: 40px;
      font-size: 11px;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;

      .icon-icon-next-short {
        margin-right: 10px;
        font-size: 10px;
      }
    }
  }

}
