.sidebar {
  font-size: 14px;
  line-height: 20px;
  top: 64px;
  position: fixed;
  right: auto;
  bottom: 0;
  left: 0;
  width: 320px;
  height: auto;
  background: #f8f8f8;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 2;

  .topcap {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  ul.toc {
    padding-top: 1.5rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-bottom: 1.5rem;
    margin: 0;
    list-style: none;

    ul {
      list-style: none;
      padding-left: 0;
    }

    li {
      vertical-align: top;
    }
  }

  ul {
    list-style: none;

    &.list-toc {
        a {
          color: #333333;
          font-weight: 400;
          display: block;
          line-height: 1rem;
          position: relative;
          &:hover {
            color: #e04e4b !important;
          }
          &:before {
          }

          &.current {
              color: #e04e4b;
              font-weight: 600;
              &:link {
                color: #e04e4b;
              }
          }
        }

        li {
          position: relative;
          padding-top: .375rem;
          padding-bottom: .375rem;
        }

        div.sub-toc {
          padding-bottom: .375rem;
        }
      }
  }

  .heading-toc {
    font-weight: 700;
    letter-spacing: .35em;
    text-transform: uppercase;
    color: #22a699;
    padding: 1.5em 0 .25em;
  }
}

.sidebar-content {
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
}
