#nav {
  color: #444;
  padding: 0 25px 0 0;
  border-right: 1px solid #ececec;
  -webkit-font-smoothing: antialiased;
  top: 84px;
  position: fixed;
  right: auto;
  bottom: 0;
  left: 40;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 20px;
}

#nav .col-xs-12 {
  margin: 0;
  padding: 0;
}

#nav h3 {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  padding: 0;
  color: #000;
}

#nav ul {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}

#nav ul li {
  margin: 8px 0;
}

#nav ul li a {
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  color: #444;
}

#nav ul li a.selected {
  color: #E25E5E;
  font-weight: 600;
}
