/* @import 'https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 600, 800'; */

body,
div,
p,
ul,
li,
a {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
	text-decoration: none;
	color: #000;
}

a:hover {
	opacity: 0.7;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}
@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}

.markdown table {
	display: block;
	width: 100%;
	overflow: auto;
}
.markdown table th {
	font-weight: 600;
}
.markdown table th,
.markdown table td {
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
}
.markdown table tr {
	background-color: #fff;
	border-top: 1px solid #c6cbd1;
}
.markdown table tr:nth-child(2n) {
	background-color: #f6f8fa;
}
.markdown table img {
	background-color: transparent;
}

.markdown h1,
h2,
h3,
h4,
h5 {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #ae067c;
}

.markdown .gatsby-highlight-code-line {
	font-weight: bolder;
	/* font-size: 12pt; */
	/* font-style: italic; */
}
